@page
@model PresentacionWeb.Pages.Index1Model
@{
    ViewData["Title"] = "CATEGORIAS";
}
<style>
    body {
        background-color: #029daf;
    }

    .content {
        padding: 40px; /* Ajuste del relleno */
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
        margin: 40px auto; /* Aumento del margen */
        max-width: 100%; /* Ajuste del ancho máximo */
    }

    .display-4 {
        font-weight:400;
        margin-bottom: 20px; /* Separación debajo del título */
    }

    .text-section {
        margin-top: 20px; /* Separación arriba de las secciones de texto */
    }
</style>
<div class="content">
    <div class="text-center">
        <div class="display-4">Categorias KIALKE</div>
        <div class="text-section">Apartado para visualizar todas las categorias existentes en el proyecto</div>
    </div>
</div>
