@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background-color: floralwhite; /* Color de fondo gris claro */
    }

    .text-center {
        text-align: center;
    }

    .display-4 {
        font-size: 2.5rem;
        color: #4caf50; /* Verde */
    }

    p {
        color: #ff9800; /* Naranja */
    }

    .content {
        padding: 20px;
        background-color: #ffffff; /* Fondo blanco para el contenido */
        border-radius: 8px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Ferreteria Kialke</h1>
    <p>Cuidamos de tu bolsillo</p>
</div>
<!-- Agregando la imagen del banner -->
<div class="banner">
    <img src="~/images/banner.jpg" alt="Banner de Ferreteria Kialke" class="img-fluid" />
</div>

<!-- Estilos opcionales -->
<style>

    .banner {
        text-align: center;
        margin-top: 20px;
    }
    .banner img {
        max-width: 100%;
        height: auto; /* Mantiene la proporción de la imagen */
    }
</style> 