@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ferreteria Kialke</h1>
    <p>Cuidamos de tu bolsillo</p>
</div>
<!-- Agregando la imagen del banner -->
<div class="banner">
    <img src="~/images/banner.jpg" alt="Banner de Ferreteria Kialke" class="img-fluid" />
</div>

<!-- Estilos opcionales -->
<style>

    .banner {
        text-align: center;
        margin-top: 20px;
    }
    .banner img {
        max-width: 100%;
        height: auto; /* Mantiene la proporción de la imagen */
    }
</style> 